/* CSS declarations go here */

$red : red;
*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}
body{
  color: #555555;
  font-family: Helvetica,Arial,sans-serif;
}
h1{
  font-weight: 300;
  font-size: 2.4rem;
}
.title-bar{
  background: #e35557;
  color: #ffffff;
}
.wrapper{
  margin: 0 auto;
  max-width: 90rem;
  padding: 1.3rem;
}
.menus{
  font-size: 15px;
  float: right;
  margin-top: -20px;
}

.tabsCustom{
  padding: 3.0rem;
  font-size: 1.5rem;
}

.carouselCustom{
  align-items: center;
  font-size: 1.5rem;
}

.buySellPayment{
  padding: 1rem;
}

.coinLabel{
  align-content: center;
}

.customForm{
  padding: 1.5rem;
}

.label{
  background-color:#EB6864;
}

.customColor{
  background-color:#ffffff;
}

.alertDataClass{
  background-color:#EB6864 ;
}

.button {
  border: 1px solid #555555;
  color: #555555;
  cursor: pointer;
  font-weight: 600;
  line-height: 1;
  outline: none;
  transition: background .2s ease, transform .2s ease;

}

.button--rect-color {
  background: transparent;
  height: 5rem;
  width: 5rem;
}

.button--rect {
  height: 5rem;
  width: 5rem;
}

.button--rect-currency {
  border: 1px #ffffff;
  color: #ffffff;
  background: #e35557;
  height: 5rem;
  width: 30rem;
  align-content: right;
}

ul{
  list-style-type:none
 }